.image-swiper-wrap {
  width: 100%;
  margin: 16rpx 0;
  border-radius: 16rpx;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.04);
}

.image-swiper {
  width: 100%;
  height: 560rpx;
}

.image-swiper-item {
  width: 100%;
  height: 100%;
}

.image-swiper-single {
  width: 100%;
  margin: 16rpx 0;
  border-radius: 16rpx;
  overflow: hidden;
}

.image-single {
  width: 100%;
  display: block;
}
